.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 970px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
}

.navbar_title {
  text-decoration: none;
  color: #000;
}

.navbar_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: auto;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 7px 2px 1px #000;
  max-width: 100%;

  padding: 20px 50px;
}

.form {
  width: 100%;
  max-width: 100%;
}

.heading {
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.title {
  color: #000;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
  text-align: left;
  width: 100%;

  padding: 0 20px;
}

.sub_heading {
  font-weight: 600;
  margin: 5px 0;
  text-align: left;
  font-size: 18px;
  width: 100%;
}

.no_result {
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.anim_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  gap: 20px;
  margin: 20px 0;
}

.anime_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  background-color: #fff;
}

.anime_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.anime_link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.anime_card h4 {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.anime_card p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.anime_link a {
    font-weight: 600;
    font-size: 14px;
}

.anime_card:hover {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
  width: 100%;
}

.form_style {
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}

.btn {
  padding: 15px;
  margin: 30px 0px;
  width: 310px;
  font-size: 15px;
  background: #fff;
  border-radius: 30px;
  font-weight: 800;
  box-shadow: 5px 5px 0px 0px #000;
  color: #000;
}

p {
  margin: 20px 0px;
}

.link {
  font-weight: 800;
}
