@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background: #fafafa;
}